<div ng-app="meanblog">

	<h2>{{meanName}}</h2>

	<!-- load controller --> 
	<script src="controllers/posts.js"></script>

	<div class="post-listing" ng-controller="PostCtrl">
		
		{{posts}}

	</div>

</div>